{% extends 'base.html' %}

{% block header %}
<nav class="navbar">
    <img class="user-icon" src="/static/images/icon.jpg" alt="">
</nav>
{% endblock %}

{% block body %}
<div class="container">
    <div id="tabs" class="tabs">
        <div class="tab" v-bind:class="{'active':'{{tab}}'===''}"><a href="/index">买车</a></div>
        <div class="tab" v-bind:class="{'active':'{{tab}}'==='open_shop'}"><a href="/index?tab=open_shop">开4S店</a></div>
        <div class="tab" v-bind:class="{'active':'{{tab}}'==='my_shop'}"><a href="/index?tab=my_shop">我的4S店</a></div>
    </div>

    {%if tab === ''%}
        {%include 'shop_list.html'%}
    {%elif tab==='open_shop'%}
        {%include 'open_shop.html'%}
    {%else%}
        {%include 'my_shop.html'%}
    {%endif%}
   
</div>
<script>
    new Vue({
        el:'#tabs'
    })
</script>
{% endblock %}

