{%for shop in shops%}
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
          <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{shop.brand}}</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Have a look</a>
          </div>
        </div>
      </div>
  </div>
{%endfor%} 